In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
data = pd.read_csv("imdb_top_1000.csv")

In [5]:
data.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [6]:
data.shape

(1000, 16)

In [7]:
data.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [9]:
data.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [10]:
data["Certificate"] = data["Certificate"].fillna(data["Certificate"].mode()[0])
data["Meta_score"] = data["Meta_score"].fillna(data["Meta_score"].mean())

In [11]:
data["Gross"] = data["Gross"].str.replace(",","")
data["Gross"] = data["Gross"].astype("float64")
data["Gross"] = data["Gross"].replace(np.nan, 0).astype("int64")

In [12]:
data.isnull().sum()

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    1000 non-null   object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     1000 non-null   float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          1000 non-null   int64
dtypes: float64(2), int64(2), object(12)
memory usage: 125.1+ KB

In [14]:
numeric_columns = data.select_dtypes(include=["float64","int64"])
numeric_columns.corr()

             IMDB_Rating  Meta_score  No_of_Votes     Gross
IMDB_Rating     1.000000    0.253903     0.494979  0.082381
Meta_score      0.253903    1.000000    -0.017739 -0.052221
No_of_Votes     0.494979   -0.017739     1.000000  0.602128
Gross           0.082381   -0.052221     0.602128  1.000000

In [15]:
data['text'] = data[["Overview", "Director", "Star1", "Star2", "Star3", "Star4"]].apply(lambda x: ' '.join(map(str, x)), axis=1)

In [16]:
data = data.drop(columns= ["Poster_Link", "Overview", "Director", "Star1", "Star2", "Star3", "Star4"], axis = 1).head()

In [17]:
data.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross,text
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,2343110,28341469,Two imprisoned men bond over a number of years...
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,1620367,134966411,An organized crime dynasty's aging patriarch t...
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,534858444,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,1129952,57300000,The early life and career of Vito Corleone in ...
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,689845,4360000,A jury holdout attempts to prevent a miscarria...

In [25]:
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer
from sklearn.preprocessing import StandardScaler
from annoy import AnnoyIndex

# Load dataset
# movies = pd.read_csv("imdb_top_1000.csv")

# # Select relevant columns and clean data
# movies["clean_text"] = movies["Series_Title"].fillna("") + " " + movies["Overview"].fillna("")

# Load sentence embedding model
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Embed text data
embeddings = model.encode(data["text"].tolist())

# Standardize embeddings
scaler = StandardScaler()
scaled_embeddings = scaler.fit_transform(embeddings)

num_elements, dim = scaled_embeddings.shape
p = 2  # L2 distance
index = Index(space='l2', dim=dim) 
index.init_index(max_elements=num_elements, ef_construction=200, M=16)
index.add_items(scaled_embeddings)
index.save_index('movie_embeddings.hnsw')

ModuleNotFoundError: No module named 'annoy'

In [19]:
for i, (record, embedding) in enumerate(zip(text, embeddings)):
    elastic.index(index='imdb_embeddings', id=i, body={'record': record, 'embedding': embedding.tolist()})

NameError: name 'text' is not defined